@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
*{
    margin: 0;padding: 0;box-sizing: border-box;
}
body{
    background-image: linear-gradient(rgb(40, 121, 148),white);
    height: 100vh;
    display: grid;
    grid-template-columns: auto auto;
    font-family: 'Courgette', cursive;
}
h1{
    text-align: center;
    padding: 10px;
}
.sor, .uns{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92%;
}
ul > li:last-child{
    border: none;
}
ul > li{
    height: 5vh;
    padding: 10px;
    font-size: 25px;
    min-height: 50px;
    border-bottom: 2.5px solid rgb(160, 48, 136);
}
ul{
    border: 2.5px solid  rgb(160, 48, 136);
    list-style-type:decimal;
    list-style-position: inside;
    outline: 25px solid rgba(0,0,0,.25);
}