@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
*{
    margin: 0;padding: 0;
}
body{
    height: 100vh;
    background-color: rgb(200,200,220);
}
.main{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Electrolize', sans-serif;
}
h1{
    text-shadow: 0 0 7.5px red;
}